nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(43, 57, 144);
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link-selected {
  text-decoration: underline;
}
